body {
	text-align: center;
  font-family: verdana;
  
  color: white;
}
.container {
  margin: auto;
  margin-top: 200px;
  padding: 50px;
  background-image: linear-gradient(#1c1d1f,#1b3661,#1c1d1f);
  width: 350px;
  border-radius: 50px;
  padding-bottom: 80px;
}

td input {
  border-radius: 9px;
}

button {
  color: black;
  background-color: white;
}

button:hover {
  background-color: red;
  color: white;
}

.registrasi a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-size: 16px;
  background-color: red;
  color: white;
  border-radius: 10px;
}