body {
	font-family: verdana;

	
}

.kotak {
	width: 400px;
	color: white;
	padding: 15px;
	border-radius: 25px;
	background-image: linear-gradient(#1c1d1f,#1b3661,#1c1d1f); 
}

h3 {
	text-align: center;
}

button:hover {
	background-color: red;
}
