body {
	background-image: linear-gradient(#1c1d1f,#1b3661,#1c1d1f);
	text-align: center;
}

.container {
	margin: auto;
	padding: auto;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 12px;
	border: 1px solid black;
	width: 270px;
	border-radius: 40px;
}



.list {
	align-items: center;
	margin: auto;
	padding: auto;
	padding-top: 5px;
	margin-top: 10px;
	padding-bottom: 1px;
	background-color: white;
	width: 45px;
	height: 35px;
	border-radius: 60px;

}
.nama a {
	text-decoration: none;
	font-weight: bold;
	color: black;	
}

.bulat {
	margin: auto;
	padding: auto;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 40px;
	width: 253px;
	background-color: white;
}